a,
li {
	text-decoration: none;
	list-style: none;
}

.my_header {
	width: 1200px;
	margin: 0 auto;
	height: 96px;
}

.my_div_1 {
	width: 100%;
	height: 40px;
	border: 2px solid #CCCCCC;
	overflow: hidden;
}

.my_ul {
	width: 1200px;
	background: #FFFFFF;
	margin: 0 auto;
}

.my_ul li {
	float: left;
	margin-top: 15px;
	margin-right: 20px;
	padding-right: 15px;
	border-right: 3px solid #CCCCCC;
}

.my_ul span {
	color: #0056A9;
	font-weight: 400;
}

.my_ul li:last-child {
	border-right: none;
}

.my_header {
	padding-top: 25px;
}

.my_header div img {
	float: left;
}

.my_header div .my_form {
	float: right;
	width: 298px;
	height: 32px;
	background: url(../images/searchDiv_form.png) no-repeat 0 0;
	background-size: 100% 100%;
	margin-top: 10px;
}

.my_header div .my_form input:first-child {
	height: 22px;
	width: 202px;
	margin-left: 40px;
	margin-top: 5px;
	border: none;
}

.my_header div .my_form input:nth-child(2) {
	width: 50px;
	height: 30px;
	float: right;
	margin-right: 2px;
	background: #0056A9;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}

.my_header p {
	clear: both;
	margin-top: 7px;
}

.my_body {
	width: 100%;
	height: 40px;
	background: #005BAC;
	color: #FFFFFF;
	font-size: 16px;
}

.my_body .my_p {
	margin-left: 50px;
	width: 236px;
	line-height: 40px;
	padding-left: 40px;
	background: url(../images/frequeL1.png) no-repeat 0 10px;
	float: left;
}


.my_div_3 ul li {
	float: left;
	width: 91px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 30px;
}

.my_div_3 ul li:first-child {
	padding-left: 30px;
}

.my_div_3 ul li a {
	color: #FFFFFF;
}

.my_div_2 {
	width: 200px;
	height: 458px;
	clear: both;
	text-align:left;
	background: #0056A9;
	color: #FFFFFF;
	line-height: 60px;
	position: relative;
	left: 0px;
	display: none;
	padding-left: 20px;
}

.my_div_2 li {
	background-size: 100% 100%;
	border-top: 1px solid #FFFFFF;
	padding-left: 30px;
}

.my_div_2 p {
	width: 235px;
	position: relative;
	background: #005FAF;
	left: -25px;
	top: 100px;
	text-align: center;
}
.my_div_2 img{
	padding-right: 20px;
}
.my_div_2 a{
	color: #FFFFFF;
}
/*end_delete*/


.my_div_4{
	width: 1200px;
	height: 126px;
	margin: 33px auto;
}


.my_div_4 p:first-child{
	margin-top: 25px;
	font-size: 16px;
	padding-left: 15px;
	
}
.my_div_4 .my_img{
	margin-top: 15px;
}
.my_div_4 ul{
	width: 1200px;
	height: 40px;
	margin-top: 10px;
	background: #E0DEDA;
	padding-top: 10px;
	padding-left: 10px;
}
.my_div_4 ul li{
	width: 80px;
	height: 28px;
	float: left;
	font-size: 14px;
	background: #FFFFFF;
	border:1px solid #E0DEDA;
	text-align: center;
	line-height: 28px;
}
.my_div_4 .my_xiaozi{
	background: #005BAC;
	color: #FFFFFF;
}
.my_div_4 .my_xiao_div{
	clear: both;
	width: 124px;
	height: 76px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #005BAC;
	position: absolute;
	left: 500px;
	top: 625px;
	background: #FFFFFF;
	display: none;
}
.my_div_4 .my_xiao_div li{
	height: 30px;
	line-height: 33px;
	margin-top: 5px;	
}
.my_div1 div{
	float: left;
	margin-top: 15px;
	margin-right: 13px;
}
.my_div1 div p{
	padding-left: 5px;
	margin-top: 5px;
	font-size: 14px;
	font-family: "宋体";
}
.my_div1 div span{
	color: #0066CC;
}
.my_div1 div img{
	border: 1px solid #CCCCCC;
}
.dkhkd{
	text-align: center;
	margin-top: 30px;
	clear: both;
}
.nav{
	overflow: hidden;
}
.nav ul{
	float: right;
	margin-right: 30px;
	margin-top: 40px;
}
.nav li{
	float: left;
	width: 60px ;
	height: 30px;
	border: 1px solid#CCCCCC;
	padding-top: 15px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
}
.nav li:last-child{
	width: auto;
	height: auto;
	border: none;
}
.nav li:last-child p{
	float: left;
	cursor:  auto;
}
.nav li:last-child:hover{
	color: #000000;
}
.nav li:last-child input{
	width: 30px;
	height: 20px;
}
.nav li:hover{
	color: #0056A9;
}
.nav li:nth-child(5){
	border: none;
	cursor:  auto;
}

footer{width: 100%;height: 126px;background: #CDCDCD;margin-top:33px;}
footer ul{
	width: 800px;
	height: auto;
	margin:  0 auto;
	text-align: center;
	padding-top: 35px;
}
footer ul li{
	float: left;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
	width: 137px;
	font-size: 16px;
}
footer p{
	text-align: center;
	padding-top: 50px;
	color: #FFFFFF;
}

#gun{
	position:  fixed;
	top:70%;
	left: 90%;
	cursor: pointer;
	
}

.my_div_6{
	width: 1200px;
	margin: 0 auto;
}
