li {
	list-style: none;
}

body a {
	text-decoration: none;
}

.my_header {
	width: 1200px;
	margin: 0 auto;
	height: 96px;
}

.my_div_1 {
	width: 100%;
	height: 40px;
	border: 2px solid #CCCCCC;
	overflow: hidden;
}

.my_ul {
	width: 1200px;
	background: #FFFFFF;
	margin: 0 auto;
}

.my_ul li {
	float: left;
	margin-top: 15px;
	margin-right: 20px;
	padding-right: 15px;
	border-right: 3px solid #CCCCCC;
}

.my_ul span {
	color: #0056A9;
	font-weight: 400;
}

.my_ul li:last-child {
	border-right: none;
}

.my_header {
	padding-top: 25px;
}

.my_header div img {
	float: left;
}

.my_header div .my_form {
	float: right;
	width: 298px;
	height: 32px;
	background: url(../images/searchDiv_form.png) no-repeat 0 0;
	background-size: 100% 100%;
	margin-top: 10px;
}

.my_header div .my_form input:first-child {
	height: 22px;
	width: 202px;
	margin-left: 40px;
	margin-top: 5px;
	border: none;
}

.my_header div .my_form input:nth-child(2) {
	width: 50px;
	height: 30px;
	float: right;
	margin-right: 2px;
	background: #0056A9;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}

.my_header p {
	clear: both;
	margin-top: 7px;
}

.my_body {
	width: 100%;
	height: 40px;
	background: #005BAC;
	color: #FFFFFF;
	font-size: 16px;
}

.my_body .my_p {
	margin-left: 200px;
	width: 236px;
	line-height: 40px;
	padding-left: 40px;
	background: url(../images/frequeL1.png) no-repeat 0 10px;
	float: left;
}

.my_div_3 ul li {
	float: left;
	width: 91px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 30px;
}

.my_div_3 ul li:first-child {
	padding-left: 30px;
}

.my_div_3 ul li a {
	color: #FFFFFF;
}

.my_div_2 {
	width: 200px;
	height: 458px;
	clear: both;
	text-align: left;
	background: #0056A9;
	color: #FFFFFF;
	line-height: 60px;
	position: relative;
	left: 150px;
	padding-left: 20px;
}

.my_div_2 li {
	background-size: 100% 100%;
	border-top: 1px solid #FFFFFF;
	padding-left: 30px;
}

.my_div_2 p {
	width: 235px;
	position: relative;
	background: #005FAF;
	left: -25px;
	top: 100px;
	text-align: center;
}

.my_div_2 img {
	padding-right: 20px;
}

.my_div_2 a {
	color: #FFFFFF;
}

.my_div_4 {
	width: 1200px;
	margin: 33px auto;
}

.my_div_4 .sdaf {
	margin-top: 25px;
	font-size: 16px;
}

.gouwu {
	background: url(../images/ccNavigation_div.png) no-repeat left center;
	padding-left: 40px;
	width: 110px !important;
}

.gouwu a {
	color: #FCD000 !important;
	font-size: 18px;
}


/*header*/

.lunbotu .tu li {
	width: 100%;
	height: 457px;
}

.lunbotu .tu li:first-child {
	background: url(../images/ZlhdpLi_noe.jpg) no-repeat 0 0;
	background-size: 100% 100%;
}

.lunbotu .tu li:last-child {
	display: none;
	background: url(../images/ZlhdpLi_tow.jpg) no-repeat 0 0;
	background-size: 100% 100%;
}

.nav ul {
	position: relative;
	top: -30px;
	margin-left: 800px;
}

.nav ul li {
	width: 15px;
	height: 15px;
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	float: left;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.backgroundF7E5C6 {
	background: #F7F7F7;
}

.my_body_1 {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.left_3 {
	float: left;
	width: 80%;
}

.right_3 {
	float: right;
	width: 20%;
}

.dkhkd {
	width: 100%;
	background: #FFFFFF;
	text-align: center;
	margin-top: 20px;
	padding-top: 30px;
}

.left_3 div {
	float: left;
	padding-left: 5px;
}

.left_3 div p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.left_3 div p:last-child {
	color: red;
}

.left_3 .biao {
	clear: both;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #CCCCCC;
}

.left_3 .biao span:first-child {
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	line-height: 35px;
	padding-bottom: 3px;
	font-size: 18px;
	border-bottom: 3px solid #0056A9;
}

.left_3 .biao span:first-child b {
	float: left;
	width: 30px;
	height: 30px;
	display: block;
	background: url(../images/Fbou.png) no-repeat 0 0;
	color: #FFFFFF;
}

.left_3 .biao span:last-child {
	display: block;
	float: right;
	font-size: 14px;
	padding-right: 10px;
}

.left_3 .sjiw_1 {
	width: 663px;
	height: 280px;
	background: #FFFFFF;
	border: solid 1px #EAE6E6;
	margin: 15px 25px 15px 0;
	
}

.left_3 .sjiw_1 p:first-child {
	font-size: 30px;
}

.left_3 .sjiw_1 p:first-child a {
	text-decoration: none;
}

.left_3 .sjiw_1 span {
	float: left;
	font-size: 30px;
	color: red;
	margin-top: 20px;
}
.left_3 .sjiw_1 .aqo{
	width: 400px;
	height: 200px;
	float: right;
}
.left_3 .sjiw_2 {
	width: 250px;
	height: 270px;
	text-align: center;
	font-size: 22px;
	padding-top: 10px;
	background: #FFFFFF;
	border: solid 1px #EAE6E6;
	margin: 15px 0 15px 0;
}

.left_3 .sjiw_3 {
	width: 300px;
	height: 285px;
	text-align: center;
	font-size: 22px;
	padding-top: 10px;
	background: #FFFFFF;
	margin-right: 18px;
	border: solid 1px #EAE6E6;
}

.left_3 .s {
	margin: 0px;
}

.right_3 {
	width: 238px;
	height: 1000px;
}

.right_3 h2 {
	width: 90px;
	height: 36px;
	padding: 0 15px;
	background: #0056A9;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.left_4 {
	width: 400px;
	height: 510px;
	background: #FFFFFF;
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
	float: left;
}

.left_4 p {
	margin-left: 10px;
	margin-top: 20px;
}

.right_4 ul {
	width: 535px;
	height: 516px;
	float: left;
	margin-left: 10px;
}

.right_4 li {
	float: left;
	width: 255px;
	height: 249px;
	background: #FFFFFF;
	text-align: center;
	font-size: 22px;
	margin-right: 10px;
	margin-bottom: px;
	margin-top: 10px;
	border: solid 1px #EAE6E6;
}

.right_4 img {
	width: 195px;
	height: 195px;
}

.fd {
	margin-top: 20px;
}

.news {
	font-size: 14px;
	background: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 20px;
}

.news ul {
	padding-left: 20px;
}

.news li {
	line-height: 25px;
	list-style: disc;
}

.nav_3 {
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 40px;
	background: #FFFFFF;
}

.nav_3 div {
	margin-bottom: 10px;
	padding-left: 4px;
}

.nav_3 div span {
	/*display: block;*/
	width: 16px;
	height: 16px;
	background: #0056A9;
	text-align: center;
	color: #FFFFFF;
	margin-left: 5px;
	padding-right: 5px;
	margin-right: 10px;
	margin-left: 10px;
	/*float: left;*/
	text-align: center;
}

.nav_3 div .colorRed {
	color: red;
	background: #FFFFFF;
}

.nav_3 div .divf {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 126px;
	height: 26px;
	float: left;
}

.nav_3 div .djsk {
	width: 100px;
	height: 26px;
	color: #CCCCCC;
	float: right;
	font-size: 12px;
}

.nav_3 dl {
	width: 200px;
	overflow: hidden;
	padding: 0px 6px;
	display: none;
	border: 1px solid red;
}

.nav_3 dl span {
	margin: 0;
}

.nav_3 dt img {
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 5px;
}

.nav_3 dd {
	width: 120px;
	float: right;
	padding-top: 5px;
}

/*.left_3 img:hover {
	margin-right: 15px;
}*/
/*触碰效果*/

footer {
	width: 100%;
	height: 126px;
	background: #CDCDCD;
}

footer ul {
	width: 800px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
}

footer ul li {
	float: left;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
	width: 137px;
	font-size: 16px;
}

footer p {
	text-align: center;
	padding-top: 50px;
	color: #FFFFFF;
}

#gun {
	position: fixed;
	top: 70%;
	left: 90%;
	cursor: pointer;
}
#tongzhi{
	position: fixed;
	top: 30%;
	left: 86%;
	cursor: pointer;
	z-index: 5;
}
.tongzhi2{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/blackBg.png) 100% 100%;
	z-index: 10;
	display: none;
}
.tongzhi2 .cshsuw{
	width: 685px;
	height: 325px;
	background: #FFFFFF;
	position: absolute;
	margin:  auto;
	top:0;
	left: 0;
	right: 0;
	bottom:0 ;
	border: 5px solid #CCCCCC;
}
.tongzhi2 .cshsuw .off{
	float: right;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 15px;
}
.tongzhi2 .cshsuw .zin1{
	clear: both;
	margin: 30px 30px 0px 30px;
}
.tongzhi2 .cshsuw .zin1 h2{
	font-size: 30px;
	text-align: center;
}
.tongzhi2 .cshsuw .zin1 p{
	font-size: 20px;
}
.tongzhi2 .cshsuw .zin1 .zin2{
	margin-top: 30px;
}
.tongzhi2 .cshsuw .zin1 .zin3{
	text-indent: 2em;
	padding-top: 5px;
	margin-bottom: 25px;
	line-height: 30px;
}
.tongzhi2 .cshsuw .zin1 .zixi{
	float: right;
	margin-right: 40px;
	font-weight:700 ;	
}
.tongzhi2 .cshsuw .zin1 .zixi p:last-child{
	text-indent: 2em;
	padding-top: 5px;
}

